.card img {width: 100%;}

.card {
    border: 10px ridge #f00;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
}

.card p {font: small-caps bold 20px sans-serif;text-align: center;}

